Repository jtdowney/tapestry: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd extension && pnpm run format'
        language: system
        files: extension/.*\.(ts|js|json|md|yaml|yml|svelte)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd extension && pnpm run lint'
        language: system
        files: extension/.*\.(ts|js|svelte)$
        pass_filenames: false

      - id: typecheck
        name: typecheck
        entry: bash -c 'cd extension && pnpm run check'
        language: system
        files: extension/.*\.(ts|svelte)$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        files: host/.*\.rs$
        args: [--manifest-path, host/Cargo.toml]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        files: host/.*\.rs$
        args: [--manifest-path, host/Cargo.toml, --, -D, warnings]
        pass_filenames: false

feat: add context support to Fabric integration
  README.md
  RULES.md
  extension/src/background/background.ts
  extension/src/background/messages.ts
  extension/src/preferences/Preferences.svelte
  extension/src/preferences/Preferences.test.ts
  extension/src/shared/messages.ts
  extension/src/shared/settings.test.ts
  extension/src/shared/settings.ts
  extension/src/sidebar/Sidebar.test.ts
  host/examples/interactive_client.rs
  host/src/fabric.rs
  host/src/handlers.rs
  host/src/lib.rs
  host/tests/integration_test.rs
Due: prettier, eslint, typecheck, cargo-fmt, cargo-clippy

refactor: convert internal messages to camelCase
  extension/src/background/background.test.ts
  extension/src/background/background.ts
  extension/src/content/content.test.ts
  extension/src/content/content.ts
  extension/src/preferences/Preferences.svelte
  extension/src/preferences/Preferences.test.ts
  extension/src/shared/components/ConnectionStatus.test.ts
  extension/src/shared/connection.test.ts
  extension/src/shared/connection.ts
  extension/src/shared/messages.test.ts
  extension/src/shared/messages.ts
  extension/src/sidebar/Sidebar.svelte
  extension/src/sidebar/Sidebar.test.ts
Due: prettier, eslint, typecheck

fix: add error handling to content message listener
  extension/src/content/content.ts
Due: prettier, eslint, typecheck

feat: add request cancellation support
  extension/src/background/background.test.ts
  extension/src/background/background.ts
  extension/src/background/messages.ts
  extension/src/shared/messages.test.ts
  extension/src/shared/messages.ts
  extension/src/sidebar/Sidebar.svelte
  extension/src/sidebar/Sidebar.test.ts
  host/examples/interactive_client.rs
  host/src/handlers.rs
  host/src/lib.rs
  host/src/main.rs
  host/tests/integration_test.rs
Due: prettier, eslint, typecheck, cargo-fmt, cargo-clippy

refactor: use TypeScript union types for state
  extension/src/sidebar/Sidebar.svelte
  extension/src/sidebar/Sidebar.test.ts
  extension/src/sidebar/types.ts
Due: prettier, eslint, typecheck

fix: restore spinner visibility during initial processing
  extension/src/sidebar/Sidebar.svelte
Due: prettier, eslint, typecheck

chore: update dependencies
  extension/package.json
  extension/pnpm-lock.yaml
  host/Cargo.lock
Due: prettier
